*,
*::before,
*::after {
    box-sizing: inherit;
}
html {
    box-sizing: border-box;
}
@font-face {
    font-family: 'PT Sans';           /* название одно */
    src: url('../fonts/pt_sans-web-regular-webfont.woff2'),
         url('../fonts/pt_sans-web-regular-webfont.woff'); /* разные файлы */
    font-weight: 400;              /* разная плотность */
    font-style: normal;
}
@font-face {
    font-family: 'PT Sans';           /* название одно */
    src: url('../fonts/pt_sans-web-bold-webfont.woff2'),
         url('../fonts/pt_sans-web-bold-webfont.woff'); /* разные файлы */
    font-weight: 700;              /* разная плотность */
    font-style: normal;
}
body {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
    box-sizing: border-box;
    position: relative;
    background-color: #f2f2f2;
}
.foot {
    display: flex;
    width: 1200px;
    background-color: rgba(255, 255, 255, 0.9);
    position: absolute;
<<<<<<< HEAD
    bottom: -3px;
    min-height: 121px;
=======
    bottom: -10px;
    min-height: 131px;
>>>>>>> 1e133f6dd151a5efc14b90d0e6315cfa23b64607
}
.foot-hotels {
    display: flex;
    width: 1200px;
    min-height: 121px;
    background-color: #ffffff;
     position: absolute;
    bottom: -122px;
}
.container {
    position: relative;
    width: 1200px;
    margin: 0 auto;
    background-color: #ffffff;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.2);
}
.main-navigation {
    position: relative;
    background-color: #ffffff;
    height: 56px;   
}
.info1 {
    width: 239px;
    padding-left: 72px;
<<<<<<< HEAD
    padding-bottom: 14px;
=======
    padding-bottom: 15px;
>>>>>>> 1e133f6dd151a5efc14b90d0e6315cfa23b64607
    padding-top: 12px;
}
.fhoto1 { 
    width: 239px;
    padding-left: 74px;
<<<<<<< HEAD
    padding-bottom: 14px;
=======
    padding-bottom: 15px;
>>>>>>> 1e133f6dd151a5efc14b90d0e6315cfa23b64607
    padding-top: 12px;
}
.map1 {
    text-align: right;
    width: 239px;   
<<<<<<< HEAD
    padding-bottom: 14px;
    padding-top: 12px;
    padding-right: 77px; 
    margin-left: auto;   
=======
    padding-bottom: 15px;
    padding-top: 12px;
    padding-right: 73px; 
    margin-left: auto; 
    letter-spacing: 0.59px;  
>>>>>>> 1e133f6dd151a5efc14b90d0e6315cfa23b64607
}
.hotels1 {
    text-align: right;
    width: 239px;
<<<<<<< HEAD
    padding-bottom: 14px;
=======
    padding-bottom: 15px;
>>>>>>> 1e133f6dd151a5efc14b90d0e6315cfa23b64607
    padding-top: 12px;
    padding-right: 72px;
}
.container-navigation {
    height: 56px;
    background-color: #ffffff;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 0px;
    margin: 0px;
}
  
 
/*Шрифт меню хедера*/


a {
   text-decoration: none; 
}
li {
    list-style-type: none;
}

.site-navigation-section {
    font-size: 14px;
    font-weight: bold;
    color: #000000;  
}
.site-navigation-section:hover {
    color: #81b3d2;
}
.site-navigation-section:active {
    color: rgba(0, 0, 0, 0.3);
}
.site-navigation-section-curret {
    color: #766357;
}

/*Шрифт слогана*/
.description-town {
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    text-align: center;
    color: #000000;
    display:block; 
<<<<<<< HEAD
    margin-right: auto;
    margin-left: auto;
    margin-top: 21px;
    text-align:center;  
=======
    padding-left: 291px;
    padding-right: 302px;
    width: 1212px;
    padding-top: 30px;
>>>>>>> 1e133f6dd151a5efc14b90d0e6315cfa23b64607
}
/*Шрифт причин*/
.advantages {
    width: 500px;
    font-size: 14px;
    font-weight: normal;
    line-height: 26px;
    color: #333333;
    display: block;
<<<<<<< HEAD
    padding-top: 25px;
    padding-left: 4px;
    margin-left: auto;
    margin-right: auto;
=======
    text-align: center;
    padding-top: 25px;
    margin-left: auto;
    margin-right: auto;
    
>>>>>>> 1e133f6dd151a5efc14b90d0e6315cfa23b64607
}
/*Скрытые заголовки*/
.visually-hidden { 
    position: absolute;
    width: 1px;
    height: 1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    }
.hotel-search {
    margin-top: 1147px;
}
/*Шрифт формы заказа*/
.trip-selection {
    font-size: 30px;
    font-weight: bold;
    line-height: 36px;
    color: #000000;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
<<<<<<< HEAD
    padding-top: 56px;
=======
    padding-top: 57px;
>>>>>>> 1e133f6dd151a5efc14b90d0e6315cfa23b64607
    text-align: center;
}
.advantages-selection {
    font-size: 14px;
    font-weight: normal;
    line-height: 24px;
    color: #333333; 
    display: block;
<<<<<<< HEAD
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-top: 20px;
=======
    width: 1200px;
    padding-top: 6px;
>>>>>>> 1e133f6dd151a5efc14b90d0e6315cfa23b64607
    text-align: center;

    }
.advantages-selection2 {
    font-size: 14px;
    font-weight: normal;
    line-height: 24px;
    color: #333333; 
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    width: 1000px;
    text-align: center;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 0px;
}
/*Шрифт окна поиска */
.selection-button {
    font-family: "PT Sans", "Arial", sans-serif;
    text-transform: uppercase;
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    color: #ffffff;
    background-color:  #766357;
    width: 568px;
    height: 86px;
    display: block;
    margin-left: auto;
    margin-right: auto;
<<<<<<< HEAD
=======
    margin-top: 49px;
>>>>>>> 1e133f6dd151a5efc14b90d0e6315cfa23b64607
    border: none;
    padding-top: 3px;
    padding-bottom: 0px;
    padding-left: 1px;
    padding-right: 0px;
    margin-top: 47px;
}
/*Форма заполнения данных*/
.form-zone {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 28px;
    margin-top: 0px;
    padding-top: 2px;
    position: relative;
}
/*Форма заполнения данных*/
.form-zone-2 {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 30px;
    margin-top: 0px;
    padding-top: 1px;
    position: relative;
}
.font-zone {
    font-size: 14px;
    font-weight: bold;
    line-height: 26px;
    color: #000000;
}
.form-zone-short {
    margin-bottom: 54px;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    position: relative;
}
.form-search {
    width: 346px;
    height: 38px;
    background-color: #f2f2f2;
    font-weight: bold;
    text-transform: uppercase;
    border: 0px;
    padding-left: 12px;
    padding-right: 36px;
}
<<<<<<< HEAD
.label-1 {
    padding-left: 2px;
}
.label-2 {
    padding-left: 2px;
    width: 99px;
=======
.data-in {

    padding-left: 3px;

>>>>>>> 1e133f6dd151a5efc14b90d0e6315cfa23b64607
}
.adult-label {
    width: 99px;
}
.child-label {
    margin-left: 38px;
    width: 51px;
}
.form-search2 {
    width: 114px;
    height: 38px;
    padding-left: 38px;
    padding-right: 38px;
    text-align: center;
    background-color: #f2f2f2;
    font-weight: bold;
    text-transform: uppercase;
    border: 0px;
}
.hotel-name {
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    text-align: left;
    color: #000000;
    margin-bottom: 0px; 
    margin-top: 0px; 
    padding-bottom: 4px;
    padding-right: 0px;
}
.hotel-name-2 {
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    text-align: left;
    color: #000000;
    margin-bottom: 0px; 
    margin-top: 0px; 
    padding-bottom: 4px;
    padding-right: 0px;
}
.hotel-name-3 {
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    text-align: left;
    color: #000000;
    margin-bottom: 0px; 
    margin-top: 0px; 
    padding-bottom: 2px;
    padding-right: 0px;
}

.type-price {
    font-size: 14px;
    font-weight: normal;
    line-height: 21px;
    text-align: left;
    color: #333333;
}
.type-hotel {
    font-size: 14px;
    font-weight: normal;
    line-height: 21px;
    text-align: left;
    color: #333333;
    padding-bottom: 13px;
}
.rating {
    font-size: 14px;
    font-weight: normal;
    line-height: 21px;
    text-align: right;
    color: #666666;
    background-color: #f2f2f2;
    
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 16px;
    width: 106px;
    padding-top: 0px;
    margin-bottom: 13px;

}

.star-hotel-2 {
    background-image: url(../img/star.png);
    background-size:  18px, 17px;
    background-repeat: repeat; 
    height: 17px;
    width: 36px;
    margin-top: 0px;
    margin-left: auto;
}
.star-hotel-3 {
    background-image: url(../img/star.png);
    background-size:  18px, 17px;
    background-repeat: repeat; 
    height: 17px;
    width: 54px;
    margin-top: 0px;
    margin-left: auto;
}
.star-hotel-4 {
    background-image: url(../img/star.png);
    background-size:  18px, 17px;
    background-repeat: repeat-x; 
    height: 17px;
    width: 72px;
    margin-top: 0px;
    margin-left: auto;
}
.hotel-name:hover {
    color: #81b3d2;
}
.hotel-name:active {
    color: rgba(0, 0, 0, 0.3);
}
.button-date {
    display: block;
    position: absolute;
    right: 0px;
    top: 1px;
    border: 0px;
    padding-right: 9px;
    padding-top: 8px;
    padding-bottom: 4px;
    background-color: transparent; 
} 
 .button-more {
    font-family: "PT Sans", "Arial", sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    line-height: 21px;
    text-align: center;
    color: #ffffff;
    width: 110px;
    height: 27px;
    background-color: #81b3d2;
    border-left-width: 0px;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
    margin-bottom: 1px;
    padding-top: 5px;
}
.button-more-2 {
    font-family: "PT Sans", "Arial", sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    line-height: 21px;
    text-align: center;
    color: #ffffff;
    width: 110px;
    height: 27px;
    background-color: #81b3d2;
    border-left-width: 0px;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
    margin-bottom: 1px;
    padding-top: 4px;
}
.button-more-3 {
    font-family: "PT Sans", "Arial", sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    line-height: 21px;
    text-align: center;
    color: #ffffff;
    width: 110px;
    height: 27px;
    background-color: #81b3d2;
    border-left-width: 0px;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
    margin-bottom: 1px;
    padding-top: 5px;
}
.button-reservation {
    font-family: "PT Sans", "Arial", sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    line-height: 21px;
    text-align: center;
    color: #ffffff;
    width: 142px;
    height: 27px;
    background-color: #766357;
    border-left-width: 0px;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
    padding-top: 6px;
    padding-left: 2px;
}
.button-more:hover {
    color: #ffffff;
    background-color: #4d94bf;
}
.button-more:active {
    color: #88b6d1;
    background-color: #3c88b5;
}
.button-reservation:hover {
    color: #ffffff;
    background-color: #604e43;
}
.button-reservation:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #503e33;
}
.date-selection-map {
    width: 1200px;
    min-height: 588px;
    background-image: url("../img/map.jpg");
    background-size: 1200px 593px;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
} 
.selection-button:hover {
    color: #ffffff;
    background-color: #604e43;
}
.selection-button:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #503e33;
}
/*Формаа поиска*/
.find-button {
    font-family: "PT Sans", "Arial", sans-serif;
    text-transform: uppercase;
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    color: #ffffff;
    background-color: #81b3d2;
    width: 458px;
    height: 58px;
    border: none;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2px;
}
.find-button:hover {
    color: #ffffff;
    background-color: #4d94bf;
}
.find-button:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #3c88b5;
}
.form-search:hover {
    background-color: #ebebeb;
}
.form-search:focus {
    background-color: #ffffff;
}
.calendar {
    fill: #cacaca;
}
.calendar:hover {fill: #000000;}
.calendar:active {fill: #81b3d2;} 


/*Хэштег Седоны*/
.visit {

    font-size: 21px;
    font-weight: bold;
    line-height: 1.24;
    color: #000000;
    margin: 0px;
<<<<<<< HEAD
=======
    padding-top: 48px;
>>>>>>> 1e133f6dd151a5efc14b90d0e6315cfa23b64607
    padding-left: 132px;
    padding-bottom: 0px;
    padding-top: 40px;
}
/*Копирайт*/
.web-copyright {
    align-self: center;
<<<<<<< HEAD
    width: 82px;
=======
    width: 91px;
>>>>>>> 1e133f6dd151a5efc14b90d0e6315cfa23b64607
    font-size: 14px;
    font-weight: normal;
    line-height: 1.86;
    color: #000000;
<<<<<<< HEAD
    padding-left: 2px;
    padding-top: 16px;
=======
    padding-bottom: 13px;
    padding-left: 8px;

    margin-bottom: 1px;

>>>>>>> 1e133f6dd151a5efc14b90d0e6315cfa23b64607
}
.logo-sedona {
    display:block;
    position: absolute;
    left: 530px;
    right: auto;
    z-index: 4;
}
.sedona-img {
    padding-bottom: 2px;
}
/*Footer*/

.for-visit {
    display: flex;
    width: 400px;
    margin: 0px;
    padding-bottom: 0px;
    padding-top: 10px;
}
ul.footer-social li {
    margin: 3px;
}
.footer-social {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    padding-top: 35px;
    flex-wrap: wrap; 
}
.social-block {
    width: 400px;

    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 35px;

}
.footer-copyright {
    display: flex;
    justify-content: center;
    align-self: center;
    width: 400px;
    padding-bottom: 22px;
}
.logo-footer {
    width: 115px;
    height: 41px;
}
.logo-footer:hover {fill: #81b3d2;}
.logo-footer:active {fill: #bdbbbc;} 
.link-footer {
<<<<<<< HEAD
    align-self: flex-end;
    padding-left: 3px;
    padding-top: 14px;
=======
    
    padding-left: 0px;
    width: 120px;
    height: 50px;
    

>>>>>>> 1e133f6dd151a5efc14b90d0e6315cfa23b64607
}


/*Фон и лого Welcome*/
.property-description {
    margin-left: auto;
    margin-right: auto;
}
.point {
    width: 1200px;
    min-height: 1148px;
}
.main-welcom-fon {
    background-image:  url("../img/background.jpg");
    background-position: 50% 21%;
    background-repeat: no-repeat;
    text-align: center;
<<<<<<< HEAD
    padding-top: 75px;
    padding-bottom: 73px;
=======
    padding-top: 60px;
    padding-bottom: 0px;
    height: 508px;
>>>>>>> 1e133f6dd151a5efc14b90d0e6315cfa23b64607
    position: relative; 
}
.welcom-fone {
    height: 367px;
    width: 456px;
    padding-top: 17px;
}
.polygon {
    position: absolute;
    left: 0;
    bottom: 0%;
}
.block-sedona {
    width: 1200px;
    margin-right: auto;
    margin-left: auto; 
<<<<<<< HEAD
    padding-top: 21px;
    padding-left: 120px;
    padding-right: 119px
=======
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 32px;
>>>>>>> 1e133f6dd151a5efc14b90d0e6315cfa23b64607
}
.white-fone-search {
    width: 1200px;
    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto;
}
.form-fone {
    margin-left: auto;
    margin-right: auto;
    width: 568px;
    background-color: white;
<<<<<<< HEAD
    padding: 55px;
    padding-top: 53px;
} 
=======
    padding: 54px;
}  
>>>>>>> 1e133f6dd151a5efc14b90d0e6315cfa23b64607
.form-button {
    margin: 0px;
}
 .button-form {
    border: 0px;
 }
 .form-quantity {
    position: relative;
 }
.button-minus {
    position: absolute;
    left: 0px;
    width: 38px;
    height: 38px;
    background-color: #f2f2f2;
}
.button-minus2 {
    position: absolute;
    left: 344px;
    width: 38px;
    height: 38px;
    background-color: #f2f2f2;
}
.button-plus {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 38px;
    height: 38px;
    background-color: #f2f2f2;
}
.button-plus2 {
    position: absolute;
    top: 30px;
    left: 174px;
    width: 38px;
    height: 38px;
    background-color: #f2f2f2;
}
.social-button {
    position: relative;
    background-color: #81b3d2; 
    width: 46px;
    height: 48px;
    display: block;
    fill: #ffffff;
}
.social-tw{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 17px;
    height: 15px;
}
.social-f {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 12px;
    height: 22px;
}
.social-y {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 16px;
}
.social-button:hover {
    background-color: #669ec0;
}
.social-button:active {
    background-color: #5496bd;
    fill: rgb(255, 255, 255, 0.3);
}
.butmp {
    stroke: #a9a9a9;
}
.butmp:hover {stroke: #000000;}
.butmp:active {stroke: #81b3d2;}


/*HOTELS PAGE*/
.directory-listing-1 {
    display: flex;
    margin: 0px;
    padding-left: 72px;
    padding-right: 72px;
    padding-bottom: 19px;
    padding-top: 28px;
    border-top: 1px solid rgba(0, 1, 1, 0.2); 
}
.directory-listing-2 {
    display: flex;
    margin: 0px;
    padding-left: 72px;
    padding-right: 72px;
    padding-top: 28px;
    padding-bottom: 21px;
    border-top: 1px solid rgba(0, 1, 1, 0.2); 
}
.directory-listing-3 {
    display: flex;
    margin: 0px;
    padding-left: 72px;
    padding-right: 72px;
    padding-top: 26px;
    padding-bottom: 21px;
    border-top: 1px solid rgba(0, 1, 1, 0.2); 
    border-bottom: 1px solid rgba(0, 1, 1, 0.2); 
}

.directory-listing-border {
     border-bottom: 1px solid rgba(0, 1, 1, 0.2); 
}
.directory-item-image-3 {
    margin: 0px;
    padding-top: 2px;

}
.directory-item-image {
    padding-top: 2px;
    margin: 0px;
}
.housing-list {
    width: 1200px;
    margin: 0 auto;
    margin-top: 303px;
}
.directory-item2 {
    margin-bottom: 10px;
    margin-left: 30px;
}
.hotel-flex {
    display: flex;
    flex-direction: row;  
    padding-top: 0px;
}
.hotel-flex-button-1 {
    display: flex;
    flex-direction: row;  
    padding-top: 2px;
}
.hotel-flex {
    display: flex;
    flex-direction: row;  
    padding-top: 0px;
}
.hotel-flex-2 {
    display: flex;
    flex-direction: row;  
    padding-top: 2px;
}
.hotel-flex-3 {
    display: flex;
    flex-direction: row;
    padding-top: 2px;

}
.directory-item3 {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.type-hotel {
    padding-bottom: 11px;
}
.type-price {
    padding-left: 38px;
}
.type-price-3000 {
    padding-left: 64px;
}
.type-price-2000 {
    padding-left: 21px;
}
.button-reservation  {
    margin-left: 5px;

    padding-top: 5px;

}
