*,
*::before,
*::after {
  box-sizing: inherit;
}
html {
    box-sizing: border-box;
    background-color: #A5A79E;
  

}
@font-face {
    font-family: 'PT Sans';           /* название одно */
    src: url('../fonts/pt_sans-web-regular-webfont.woff2'),
         url('../fonts/pt_sans-web-regular-webfont.woff'); /* разные файлы */
    font-weight: 400;              /* разная плотность */
    font-style: normal;
}
@font-face {
    font-family: 'PT Sans';           /* название одно */
    src: url('../fonts/pt_sans-web-bold-webfont.woff2'),
         url('../fonts/pt_sans-web-bold-webfont.woff'); /* разные файлы */
    font-weight: 700;              /* разная плотность */
    font-style: normal;
}
body {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 21px;
    line-height: 26px;
    color: #000000;
    text-transform: uppercase;
    width: 1200px;
    display: block;
    margin-right: 56px;
    margin-left: 56px;
    box-sizing: border-box;
    
}
footer {
    
    width: 1200px;
    height: 120px;
    background-color: rgba(255, 255, 255, 0.9);
    
    
}
.container-header {
    width: 1200px;
    
    
}
/**/.container-main {
 
  display: block;
  
}
.main-navigation {
    background-color: #ffffff;
    display: inline-block;
    
}
.info1 {
    display: block;
    width: 100px;
    margin-left: 60px;
    float: left;
}
.fhoto1 {
    display: block;
    width: 100px;
    margin-left: 60px;
    float: left;

}
.map1 {
    display: block;
    width: 100px;
    float: right;
    margin-left: 558px;

}
.hotels1 {
    display: block;
    width: 100px;
    float: right;
    margin-left: 45px;

}
.container-navigation {
    
    background-color: #ffffff;
    width: 1200px;
    height:56px;
    padding: 0; 
    margin-top: 0px;
    margin-bottom: 0px;

}
  
 
/*Шрифт меню хедера*/


a {
   text-decoration: none; 
}
li {
    display: inline-block;
}

.site-navigation-section {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    color: #000000;
    margin-top: 15px;
}
.site-navigation-section:hover {
    color: #81b3d2;
}
.site-navigation-section:active {
    color: rgba(0, 0, 0, 0.3);
}
.site-navigation-section-curret {
    color: #766357;
}

/*Шрифт слогана*/
.description-town {
    width: 440px;
    height: 48px;
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    text-align: center;
    color: #000000;
    display:block; 
    margin-right: auto;
    margin-left: auto;
    text-align:center;  
}
/*Шрифт причин*/
.advantages {
    width: 500px;
    font-size: 14px;
    font-weight: normal;
    line-height: 26px;
    color: #333333;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}
/*Скрытые заголовки*/
.visually-hidden { 
    position: absolute;
    width: 1px;
    height: 1px;
   
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    }
/*Шрифт формы заказа*/
.trip-selection {
    font-size: 30px;
    font-weight: bold;
    line-height: 36px;
    color: #000000;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    padding-top: 20px;
    text-align: center;
}
.advantages-selection {
    font-size: 14px;
    font-weight: normal;
    line-height: 24px;
    color: #333333; 
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    padding-top: 20px;
    text-align: center;
    }
/*Шрифт окна поиска */
.selection-button {
    font-family: "PT Sans", "Arial", sans-serif;
    text-transform: uppercase;
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    color: #ffffff;
    background-color:  #766357;
    width: 568px;
    height: 86px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;

}
/*Форма заполнения данных*/
.form-zone {
    font-size: 14px;
    font-weight: bold;
    line-height: 26px;
    color: #000000;
    display: block;
    margin-left: 20px;
    padding-top: 30px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
}
.zone3 {
    display: inline-block;
    margin-right: 60px;
}
.zone4 {
    display: inline-block;
}
.date1 {
    display: inline-block;
}
.date2 {
    display: inline-block;
}
.date3 {
    display: inline-block;
}
.date4 {
    display: inline-block;
}
.form-search1 {
    display: inline-block;
    padding-left: 10px;
    margin-left: 22px;
    width: 358px;
    height: 32px;
}
.form-search2 {
    display: inline-block;
    padding-left: 10px;
    margin-left: 15px;
    width: 358px;
    height: 32px;
}
.form-search3 {
    display: inline-block;
    margin-left: 45px;
    width: 38px;
    height: 38px;
    text-align: center;
}
.form-search4 {
    display: inline-block;
    margin-left: 78px;
    width: 38px;
    height: 38px;
    text-align: center;
}
.hotel-name {
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    text-align: left;
    color: #000000;
}
.type-price {
    font-size: 14px;
    font-weight: normal;
    line-height: 21px;
    text-align: left;
    color: #333333;
}
.type-hotel {
    font-size: 14px;
    font-weight: normal;
    line-height: 21px;
    text-align: left;
    color: #333333;
}
.rating {
    font-size: 14px;
    font-weight: normal;
    line-height: 21px;
    text-align: right;
    color: #666666;
    background-color: #f2f2f2;
    padding-left: 13px;
    padding-bottom: 3px;
    padding-right: 12px;
    padding-top: 5px;
}

.star-hotel-2 {
    background-image: url(../img/star.png);
    background-size:  18px, 17px;
    background-repeat: repeat; 
    height: 17px;
    width: 36px;
}
.star-hotel-3 {
    background-image: url(../img/star.png);
    background-size:  18px, 17px;
    background-repeat: repeat; 
    height: 17px;
    width: 54px;
}
.star-hotel-4 {
    background-image: url(../img/star.png);
    background-size:  18px, 17px;
    background-repeat: repeat; 
    height: 17px;
    width: 72px;
}


.hotel-name:hover {
    color: #81b3d2;
}
.hotel-name:active {
    color: rgba(0, 0, 0, 0.3);
}
.button-date {
    border: 0px;
    position: absolute;
    left: 820px;
    top: 1438px;
    background-color: #f2f2f2;
} 
.button-date2 {
    border: 0px;
    position: absolute;
    left: 820px;
    top: 1500px;
    background-color: #f2f2f2;
} 
 .button-more {
    font-family: "PT Sans", "Arial", sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    line-height: 21px;
    text-align: center;
    color: #ffffff;
    width: 110px;
    height: 27px;
    background-color: #81b3d2;
    border-left-width: 0px;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
}
.button-reservation {
    font-family: "PT Sans", "Arial", sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    line-height: 21px;
    text-align: center;
    color: #ffffff;
    width: 142px;
    height: 27px;
    background-color: #766357;
    border-left-width: 0px;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
}
.button-more:hover {
    color: #ffffff;
    background-color: #4d94bf;
}
.button-more:active {
    color: #88b6d1;
    background-color: #3c88b5;
}
.button-reservation:hover {
    color: #ffffff;
    background-color: #604e43;
}
.button-reservation:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #503e33;
}
.date-selection-map {
    width: 1200px;
    height: 593px;
    background-image: url("../img/map.jpg");
    background-size: 1200px 593px;
    background-position: top;
    margin-left: auto;
    margin-right: auto;
} 
.selection-button:hover {
    color: #ffffff;
}
.selection-button:active {
    color: rgba(255, 255, 255, 0.3);
}
/*Формаа поиска*/
.find-button {
    font-family: "PT Sans", "Arial", sans-serif;
    text-transform: uppercase;
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    color: #ffffff;
    background-color: #81b3d2;
    display: block;
    margin: auto;
    margin-top: 100px;
    width: 500px;
    height: 50px;
}
    
.find-button:hover {
    color: #ffffff;
}
.find-button:active {
    color: rgba(255, 255, 255, 0.3);
}
.form-search {
    background-color: #f2f2f2;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
    border: 0px;

}
.form-search:hover {
    background-color: #ebebeb;
}
.form-search:focus {
    background-color: #ffffff;
}
.calendar {
    width: 21px;
    height: 22px;
    color: #eeeeee;
}
.calendar:hover {fill:  #000000;}
.calendar:active {fill:  #81b3d2;} 
/*Хэштег Седоны*/
.visit {
    font-size: 21px;
    font-weight: bold;
    line-height: 1.24;
    color: #000000;
    display: block;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 80px;
}
/*Копирайт*/
.web-copyright {
    position: absolute;
    left: 898px;
    top: 45px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.86;
    color: #000000;  
}
.main-header-logo { 
    display:block;
    position:absolute;
    left: 580px;
    top: 0px;
    z-index: 4;
}

/*Footer*/

.main-footer {
    position: absolute;
    top: 1878px;
    left: 56px;
}
.footer-social {
    position: absolute;
    top: 20px;
    left: 520px;
}
.logo-footer {
    width: 115px;
    height: 41px;
    position: absolute;
    right: 101px;
    top: 39px;
}
.logo-footer:hover {fill: #81b3d2;}
.logo-footer:active {fill: #bdbbbc;} 
/*Фон и лого Welcome*/
.property-description {
    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    height: 
}
.main-welcom-fon {
    margin-left: auto;
    margin-right: auto;
    background-image:  url("../img/background.jpg");
    background-position: top;
    background-repeat: no-repeat;
    width: 1200px;
    height: 800px;
    
}
.polygon {
    position: absolute;
    top: 772px;
    width: 1201px;
    height: 59px;
}
.block-sedona {
    width: 1200px;
    height: 216px;
    background-color: #ffffff;
    display: block;
    margin-right: auto;
    margin-left: auto;      
}
.logo-welcom {
    width: 459px;
    height: 353px;
    display:block;
    margin-right: auto;
    margin-left: auto;
    padding-top: 100px;
}
.white-fone-search {
    width: 1200px;
    height: 291px;
    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto;
}
.form-fone {
    width: 568px;
    height: 395px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    display: block;
}  
 .button-form {
    border: 0px;
 }
 
.button-minus1 {
    position: absolute;
    left: 33.9em;
    width: 38px;
    height: 38px;
    background-color: #f2f2f2;
}
.button-plus1 {
    position: absolute;
    top: 1559px;
    left: 793px;
    width: 38px;
    height: 38px;
    background-color: #f2f2f2;
}
.button-minus2 {
    position: absolute;
    left: 718px;
    width: 38px;
    height: 38px;
    background-color: #f2f2f2;
}
.button-plus2 {
    position: absolute;
    top: 1559px;
    left: 550px;
    width: 38px;
    height: 38px;
    background-color: #f2f2f2;
}
.social-button-tw {
    position:absolute;
    left: 0px;
    top: 0px;
    background-image: url(../img/layer.jpg);
    width: 46px;
    height: 48px;
}
.socialT {
     position: absolute;
     left: 15px;
     top: 17px;
}
.social-button-fb {
    position:absolute;
    left: 50px;
    top: 0px;
    background-image: url(../img/layer.jpg);
    width: 46px;
    height: 48px;
}
.socialB {
     position: absolute;
     left: 17px;
     top: 13px;
}
.social-button-yt {
    position:absolute;
    left: 100px;
    top: 0px;
    background-image: url(../img/layer.jpg);
    width: 46px;
    height: 48px;
}
.socialYT {
     position: absolute;
     left: 13px;
     top: 16px;
}
.social-button-tw:hover {
    color: #adadadad;
}
.social-button-tw:active {
    color: #5496bd;
}